[submodule "jcore-pipeline-builder-base"]
	path = jcore-pipeline-builder-base
	url = https://github.com/JULIELab/jcore-pipeline-builder-base
[submodule "jcore-pipeline-builder-javafx"]
	path = jcore-pipeline-builder-javafx
	url = https://github.com/JULIELab/jcore-pipeline-builder-javafx
[submodule "jcore-pipeline-runner"]
	path = jcore-pipeline-runner
	url = https://github.com/JULIELab/jcore-pipeline-runner
[submodule "jcore-pipeline-builder-cli"]
        path = jcore-pipeline-builder-cli
        url = https://github.com/JULIELab/jcore-pipeline-builder-cli

